.footerInfo {
    background-color: var(--color-background);
    padding: 70px 0;
    color: var(--color-gray-100);
    margin-top: var(--padding-top-section);
    text-align: start;
    font-family: var(--font-basic);
}

.aidaLogoHIcon {
    width: 125px;
    height: 49.33px;
    display: block;
}

.footerInfo_description {
    font-size: var(--font-size-sm);
    line-height: 24px;
    color: var(--color-gray-100);
    text-align: start;
    display: inline-block;
    max-width: 295px;
    padding-top: 40px;
}

.importantLinks_content {
    margin-inline-start: 30px;
}

.importantLinks {
    line-height: 12px;
    display: inline-block;
    color: var(--color-gray-100);
    max-width: 224px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.importantLink {
    line-height: 20px;
    padding: 14px 0;
    cursor: pointer;
    transition: all .3s;
}

.importantLink a {
    color: var(--color-gray-100);
    transition: all .3s;
}

.importantLink button {
    color: var(--color-gray-100);
    transition: all .3s;
}

.importantLink:hover a {
    color: var(--color-primary);
}

.importantLink:hover button {
    color: var(--color-primary);
}

.footerinfoicon {
    width: 14.92px;
    height: 14.92px;
    display: inline-block;
    margin-inline-end: 10px;
}

.contactLink {
    line-height: 20px;
    display: inline-block;
    color: var(--color-gray-100);
}

.linkBox {
    padding: 7px 0;
    background: white;
    border-radius: 100px;
    padding: 5px 20px;
    max-width: 200px;
    margin-bottom: 12px;
    display: block;
    margin-top: 12px;
}

@media (max-width: 768px) {
    .footerInfo {
        text-align: center;
    }

    .aidaLogoHIcon {
        margin: 0 auto;
    }

    .footerInfo_description {
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .importantLinks_content {
        margin-inline-start: 0;
        margin-bottom: 25px;

    }

    .linkBox {
        margin: 12px auto;
    }

    .footer__icon {
        margin: 4px 8px;
        width: 18px;
        height: 18px;
    }

    .footer {
        text-align: center;
        height: 90px;
    }

    .footer>div>div {
        flex-direction: column-reverse;
    }
}